.banniere-home, .banniere-about {
  border-radius: 25px;
  height: 225px;
  margin: 49.37px 0 43px 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.banniere-home {
  background-image: url("../../assets/IMG.png");
}


.banniere-about {
  background-image: url("../../assets/kalen-emsley-Bkci_8qcdvQ-unsplash 2.png");
}

.banniere-img {
  border-radius: 25px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.banniere-sombre {
  background-color: #000000;
  border-radius: 25px;
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
}

.banniere-txt {
  color: #ffffff;
  font-size: 48px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 375px) and ( max-width: 767px) {

  .banniere-home {
    border-radius: 10px;
    height: 111px;
    margin: 0;
    margin-bottom: 23px;
    position: relative;
  }

  .banniere-about {
    border-radius: 10px;
    height: 223px;
    margin: 0;
    margin-bottom: 23px;
    position: relative;
    background-image: url("../../assets/About-Image-Mobile.png"); 
  }
  
  .banniere-img {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  
  .banniere-sombre {
    border-radius: 10px;
  }

  .banniere-txt {
    font-size: 20px;
    line-height: 24px;
  }
}